<!-- <nav class="grid/nav">
  <div class="grid/content">
    <ul class="list list-gutter:0 font-size:tiny margin-bottom:4">
      {{ range .Site.Menus.layout }}
        <li class="list/item">
          <a class="color:white opacity:5 hover-opacity:10" href="/docs/{{ .URL }}" title="{{ .Name }}">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    </ul>

    <ul class="list list-gutter:0 font-size:tiny margin-bottom:4">
      {{ range .Site.Menus.module }}
        <li class="list/item">
          <a class="color:white opacity:5 hover-opacity:10" href="/docs/{{ .URL }}" title="{{ .Name }}">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    </ul>

    <ul class="list list-gutter:0 font-size:tiny margin-bottom:4">
      {{ range .Site.Menus.single }}
        <li class="list/item">
          <a class="color:white opacity:5 hover-opacity:10" href="/docs/{{ .URL }}" title="{{ .Name }}">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    </ul>

    <ul class="list list-gutter:0 font-size:tiny margin-bottom:4">
      {{ range .Site.Menus.utility }}
        <li class="list/item">
          <a class="color:white opacity:5 hover-opacity:10" href="/docs/{{ .URL }}" title="{{ .Name }}">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    </ul>
  </div>

</nav> -->

<script src="/assets/js/main.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
</body>
</html>
