{{ partial "head" . }}
{{ partial "blocks/menus/menu-slide" . }}

{{.Content}}
<div class="js-header js-header:home">
  {{ partial "blocks/notices/notice-main" . }}
  {{ partial "blocks/header" . }}
</div>

<!-- Modal structure -->
<div class="js-modal"> <!-- data-iziModal-fullscreen="true"  data-iziModal-title="Welcome"  data-iziModal-subtitle="Subtitle"  data-iziModal-icon="icon-home" -->
    <!-- Modal content -->
    Modal content
</div>



<section class="fill:hero overflow:hidden">
  <div class="wrap wrap:padding-x">
    <div class="hero hero:home padding-y:10vh">

      <div class="hero/content">
        <h1 class="font weight:bold font-size:h2 font-size-lg:h1 font-leading:0 margin-bottom:3 color:white">
          Smart software <br class="display-sm:none" />for <br class="display:none display-sm">growing <span class="font weight:bold font:underline color:yellow js-typed">trade </span> <br class="display-sm:none" />businesses
        </h1>
        <h2 class="font font-size:h6 font-size-sm:h5 -font-leading:0 font-weight:medium color:white margin-bottom:4">
          All the tools you need. All in one place
        </h2>
        <!-- Trigger to open Modal -->
        <a href="https://github.com/dolce/iziModal" class="trigger">Mogegsegesdal</a>
        <a href="#" class="button fill:yellow color:secondary button:elevate button-grow:2">Start free trial</a>
        <a href="#" class="button fill:secondary color:yellow button:elevate button-grow:1">Book a demo</a>
      </div>

      <div class="hero/art">
        <div class="position:relative">
          <img src="{{ .Site.BaseURL }}assets/images/home/hero/hero-empty.png" class="hero/empty" />
          <img src="{{ .Site.BaseURL }}assets/images/home/hero/hero-shadow-laptop.png" class="hero/image hero/image:shadow-laptop" />
          <img src="{{ .Site.BaseURL }}assets/images/home/hero/hero-shadow-phone.png" class="hero/image hero/image:shadow-phone" />
          <img src="{{ .Site.BaseURL }}assets/images/home/hero/hero-shadow-driver.png" class="hero/image hero/image:shadow-driver" />
          <img src="{{ .Site.BaseURL }}assets/images/home/hero/hero-hammer.png" class="hero/image hero/image:hammer" /> -->
          <img src="{{ .Site.BaseURL }}assets/images/home/hero/hero-plier.png" class="hero/image hero/image:plier" />
          <img src="{{ .Site.BaseURL }}assets/images/home/hero/hero-drill.png" class="hero/image hero/image:drill" />
          <img src="{{ .Site.BaseURL }}assets/images/home/hero/hero-valve.png" class="hero/image hero/image:valve" />
          <img src="{{ .Site.BaseURL }}assets/images/home/hero/hero-multigrip.png" class="hero/image hero/image:multigrip" />
          <img src="{{ .Site.BaseURL }}assets/images/home/hero/hero-driver.png" class="hero/image hero/image:driver" />
          <img src="{{ .Site.BaseURL }}assets/images/home/hero/hero-laptop.png" class="hero/image hero/image:laptop" />
          <img src="{{ .Site.BaseURL }}assets/images/home/hero/hero-phone.png" class="hero/image hero/image:phone" />
          <img src="{{ .Site.BaseURL }}assets/images/home/hero/hero-driver.png" class="hero/image hero/image:driver" />
        </div>
      </div>


      <!-- <div class="hero/video fill:primary-shade display:none display-sm:block">
        <div class="row:media align-item:middle">
          <div class="column margin-right:2">
            <a class="hero/thumb hover">
              <img src="https://placeimg.com/800/450/arch" class="image" />
              <div class="hero/play fill:white color:black">
                <i class="fas fa-fw fa-play"></i>
              </div>
            </a>
          </div>
          <div class="column color:white">
            <h6 class="font weight:bold margin-bottom:1 color:white">The Story of Dan</h6>
            <p>
              From scheduling site visits through to invoicing, clearly see what needs to be done and when.
            </p>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</section>

<section class="fill:primary-shade padding-y:4vh align:center">
  <div class="wrap wrap:padding-x">
    <!-- <h4 class="font weight:medium margin-bottom:2 color:white">Smart software for growing trade businesses.</h4> -->
    <div class="row row:stats-brand">
      <div class="column:6 column-md:3 padding-y:6vh">
        <h1 class="font font-size:h2 font-size-sm:h2 font-size-lg:h1 font-leading:0 color:white">
          874,235 <span class="font weight:regular font-size:h6 display padding-top:1 fade:6">Invoices Paid</span>
        </h1>
      </div>
      <div class="column:6 column-md:3 padding-y:6vh">
        <h1 class="font font-size:h2 font-size-sm:h2 font-size-lg:h1 font-leading:0 color:white">
          $1.5B <span class="font weight:regular font-size:h6 display padding-top:1 fade:6">Materials Charged</span>
        </h1>
      </div>
      <div class="column:6 column-md:3 padding-y:6vh">
        <h1 class="font font-size:h2 font-size-sm:h2 font-size-lg:h1 font-leading:0 color:white">
          40,000 <span class="font weight:regular font-size:h6 display padding-top:1 fade:6">Hazards Avoided</span>
        </h1>
      </div>
      <div class="column:6 column-md:3 padding-y:6vh">
        <h1 class="font font-size:h2 font-size-sm:h2 font-size-lg:h1 font-leading:0 color:white">
          $1.3M <span class="font weight:regular font-size:h6 display padding-top:1 fade:6">Projects Completed</span>
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="fill:pegboard padding-top:13vh ">
  <div class="wrap wrap:padding-x">

    <h3 class="font font-size:h3 font-size-sm:h1 margin-bottom:2 font-leading:0 align:center">
      Job management <br />software built to <span class="font color:primary font:underline">trade </span>
    </h3>

    <h2 class="font weight:regular font-size:h6 font-size-sm:h5 font-leading:2 align:center margin-bottom:5vh">
      Setting trade & service businesses up for success, from the job site to the office.
    </h2>

    <div class="row row-gutter-md:2 row-gutter-lg:3">
      <div class="column:12 column-md:4 margin-bottom:2">
        <article class="card js-reveal-set-1">
          <div class="card/content padding-sm:4 padding-md:5 padding-xl:5 align:center">
            <img src="{{ .Site.BaseURL }}assets/images/icons/icon-task.svg" class="image margin:auto margin-bottom:3" />
            <h5 class="font margin-bottom:3">Run your office</h5>
            <p>
              From scheduling site visits to invoicing, clearly see what needs to be done and when. Complete admin in minutes and get rid of double handling.
            </p>
            <a href="{{ .Site.BaseURL }}features/run-your-office/" class="font font:link weight:bold">Learn more</a>
          </div>
        </article>
      </div>

      <div class="column:12 column-md:4 margin-bottom:2">
        <article class="card js-reveal-set-1">
          <div class="card/content padding-sm:4 padding-md:5 padding-xl:5 align:center">
            <img src="{{ .Site.BaseURL }}assets/images/icons/icon-team.svg" class="image margin:auto margin-bottom:3" />
            <h5 class="font margin-bottom:3">Manage your team</h5>
            <p>
              Keep your team on the road with remote job cards, instant notifications, and real-time job information, right at your fingertips.
            </p>
            <a href="{{ .Site.BaseURL }}features/manage-your-team/" class="font font:link weight:bold">Learn more</a>
          </div>
        </article>
      </div>

      <div class="column:12 column-md:4 margin-bottom:2">
        <article class="card js-reveal-set-1">
          <div class="card/content padding-sm:4 padding-md:5 padding-xl:5 align:center">
            <img src="{{ .Site.BaseURL }}assets/images/icons/icon-graph.svg" class="image margin:auto margin-bottom:3" />
            <h5 class="font margin-bottom:3">Grow your business</h5>
            <p>
              Track your profit in real-time, see where you are making and losing money on each job. Back-cost before invoicing to make sure you hit your margins.
            </p>
            <a href="{{ .Site.BaseURL }}features/grow-your-business/" class="font font:link weight:bold">Learn more</a>
          </div>
        </article>
      </div>
    </div>

  </div>
</section>

<section class="fill:table">
  <div class="wrap wrap:padding-x">
    <img src="{{ .Site.BaseURL }}assets/images/home/home-table.png" class="image image:table" />
  </div>
</section>

<section class="fill:home-case-bg-1 padding-top:6vh padding-top-sm:10vh padding-bottom:10vh padding-bottom-sm:20vh">
  <div class="wrap wrap:padding-x padding-y:5vh">
    <div class="row">
      <div class="column:12 column-sm:8 column-md:6">
        <img src="{{ .Site.BaseURL }}assets/images/icons/home-water-faucet.svg" class="image margin-bottom:4" />
        <h3 class="font font-size:h2 font-size-sm:h1 margin-bottom:5 font-leading:0">
          Built by tradies <br />for <span class="font color:primary font:underline">tradies</span>
        </h3>
        <p class="font margin-bottom:4">
          Fergus is used by trades and service businesses across Australasia and the World. Fergus works best for small to medium-sized businesses and is perfect for managing large projects and small jobs.
        </p>
        <a href="{{ .Site.BaseURL }}features" class="font weight:medium font:link">Find out whether Fergus would work for you <i class="fas fa-arrow-right fa-sm u-margin-left-0"></i></a>

      </div>
    </div>
  </div>
</section>

<section class="fill:white section:home-industry">
  <div class="wrap wrap:padding-x">
    <div class="row row-gutter:2 padding-y:5vh padding-y-md:none section/industry">

      <div class="column:6 column-md:3 margin-bottom:2">
        <a href="#" class="card card:elevate fill:tools-electrician">
          <div class="card/content padding-x:none padding-top:4 padding-bottom:none">
            <h5 class="font font-size:body font-size-sm:h6 align:center">Electrician</h5>
            <img src="{{ .Site.BaseURL }}assets/images/home/tools/tools-electrician.jpg" class="image border:radius-bottom margin:auto" />
          </div>
        </a>
      </div>

      <div class="column:6 column-md:3 margin-bottom:2">
        <a href="#" class="card card:elevate">
          <div class="card/content padding-x:none padding-top:4 padding-bottom:none">
            <h5 class="font font-size:body font-size-sm:h6 align:center">Plumbers</h5>
            <img src="{{ .Site.BaseURL }}assets/images/home/tools/tools-plumber.jpg" class="image border:radius-bottom margin:auto" />
          </div>
        </a>
      </div>

      <div class="column:6 column-md:3 margin-bottom:2">
        <a href="#" class="card card:elevate">
          <div class="card/content padding-x:none padding-top:4 padding-bottom:none">
            <h5 class="font font-size:body font-size-sm:h6 align:center">Other Trades</h5>
            <img src="{{ .Site.BaseURL }}assets/images/home/tools/tools-painter.jpg" class="image border:radius-bottom margin:auto" />
          </div>
        </a>
      </div>

      <div class="column:6 column-md:3 margin-bottom:2">
        <a href="#" class="card card:elevate">
          <div class="card/content padding-x:none padding-top:4 padding-bottom:none">
            <h5 class="font font-size:body font-size-sm:h6 align:center">Services</h5>
            <img src="{{ .Site.BaseURL }}assets/images/home/tools/tools-service.jpg" class="image border:radius-bottom margin:auto" />
          </div>
        </a>
      </div>

    </div>

    <div class="row align-content:center align:center padding-bottom-sm:13vh">
      <div class="column:12 column-md:6">
        <h5 class="font margin-bottom:3">Trusted by thousands around the world</h5>
        <p>
          Fergus is used by trades and service businesses across and the World. Fergus works best for small to medium-sized businesses and is perfect for managing large projects and small jobs.
        </p>
      </div>
    </div>

    <div class="row row:stats-grad padding-bottom:5vh align:center">
      <div class="column:6 column-md:3 padding-y:6vh">
        <h1 class="font font-size:h2 font-size-sm:h2 font-size-lg:h1 font-leading:0 color:primary">
          10.1M <span class="font weight:regular font-size:h6 color:black display padding-top:1">Hours Logged</span>
        </h1>
      </div>
      <div class="column:6 column-md:3 padding-y:6vh">
        <h1 class="font font-size:h2 font-size-sm:h2 font-size-lg:h1 font-leading:0 color:primary">
          $1.4M <span class="font weight:regular font-size:h6 color:black display padding-top:1">Site Visits</span>
        </h1>
      </div>
      <div class="column:6 column-md:3 padding-y:6vh">
        <h1 class="font font-size:h2 font-size-sm:h2 font-size-lg:h1 font-leading:0 color:primary">
          349 <span class="font weight:regular font-size:h6 color:black display padding-top:1">Cities Globally</span>
        </h1>
      </div>
      <div class="column:6 column-md:3 padding-y:6vh">
        <h1 class="font font-size:h2 font-size-sm:h2 font-size-lg:h1 font-leading:0 color:primary">
          2 <span class="font weight:regular font-size:h6 color:black display padding-top:1">Fergus Dogs</span>
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="fill:home-case-bg-2 padding-y:6vh padding-y-sm:10vh">
  <div class="wrap wrap:padding-x padding-y:5vh">
    <div class="row row-gutter-md:5">
      <div class="column:12 column-sm:8 column-md:6 column-push-sm:2 column-push-md:6">
        <h3 class="font font-size:h3 font-size-sm:h3 font-size-md:h3 font-size-lg:h2 font-size-xl:h1 margin-bottom:3 font-leading:1">
          “You have created an incredible product and it has transformed not just our business but my entire understanding of business.”
        </h3>
        <div class="row:media row-gutter:2 align-item:middle">
          <div class="column">
            <img src="https://pbs.twimg.com/profile_images/982172176789848064/9_56gzod.jpg" class="image image:profile border-radius:round image-size:4" />
          </div>
          <div class="column">
            <h5 class="font font-size:body weight:bold color:black">
              Ben Thompson
            </h5>
            <p>
              Cable Systems, New Zealand
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="padding-y:10vh fill:background-focus">

  <div class="js-slick">
    {{ range .Params.blocks }}
      {{ if eq "block-card-testimonial" .template }}
        <div>
          <div class="padding-y:4">
            <div class="card card:elevate card:testimonial color:black">
              <div class="card/content align:center padding:2 padding-sm:4 position:relative">
                <a href="#" class="card/testimonial-source">
                <img src="{{ .Site.baseURL }}assets/images/testimonials/{{ .source }}@2x.png" class="image border-radius:round image-size:5">
                </a>
                <div class="font color:yellow margin-y:2" style="letter-spacing:6px;">
                  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                </div>
                <p>
                  {{ .testimonial }}
                </p>
                <p>
                  <span class="weight:bold color:black">{{ .name }}</span><br>
                  {{ .company }}
                </p>
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    {{ end }}

  </div>

</section>


{{ partial "blocks/cta" . }}
{{ partial "blocks/footer" . }}

<!-- Scripts -->
<script src="{{ .Site.BaseURL }}assets/scripts/main.js"></script>
<script>
// Typed
var typed = new Typed('.js-typed', {
  strings: ['trade', 'plumbing', 'electrical', 'building', 'flooring', 'HVAC', 'Heating', 'IT', 'service', 'trade', 'plumbing', 'electrical', 'building', 'flooring', 'HVAC', 'Heating', 'IT', 'service', 'trade', 'plumbing', 'electrical', 'building', 'flooring', 'HVAC', 'Heating', 'IT', 'service'],
  typeSpeed: 50,
  backSpeed: 50,
  backDelay: 2000,
  showCursor: false,
  loop: true
});
</script>
</body>
</html>
