/*
Title: SlashCSS
Version: 0.1.0
Updated: 2018-05-28
Author: Jin Su Park
Site: slashcss.com
*/

/************************************************************
1. DEFAULT VARIABLES
************************************************************/

@import "build.variables";
@import "../fonts/system.font";
/************************************************************
2. COMPONENTS
************************************************************/

@import "components/import.components";

/************************************************************
2. OVERRIDE VARIABLES
************************************************************/


/************************************************************
3. THIRD PARTY
************************************************************/

@import "../vendors/prism/prism.scss";

/************************************************************
4. EXTENSIONS
************************************************************/

.markup {
  &\:doc {
    h3 {
      font-size: var(--h6);
      font-weight: 700;
    }
  }
}
